.dialog {
    position: absolute;
    top: 20px;
    left: 20px;
    border: 10px solid #ff0044;
    background-color: #fff;
    color: #333;
    padding: 10px;
}
.dialog p {
    margin: .4em;
}
#cancel, #accept {
    padding: 0.5em;
    color: white;
}
#cancel {
    float: left;
    background-color: red;
    margin-left: 3em;
}
#accept {
    float: left;
    margin-left: 4em;
    background-color: green;
}
