---
layout: default
title: Alexander's Ulizko blog
---
{% for post in paginator.posts %}
	<article id="post-{{ post.id }}">
    <header>
      <p>{{ post.date | date: "%Y / %m / %d" }}</p>
      <h1><a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h1>
    </header>
		<div class="entry">
			{{ post.content }}
		</div>
	</article><!-- close:article -->
{% endfor %}
<div class="pagination clearfix">
    {% if paginator.total_pages > 1 %}
    		{% if paginator.previous_page %}
    		    <div class="prev"><a href="/{%if paginator.previous_page > 1 %}page{{ paginator.previous_page }}/{% endif %}">&larr; Newer</a></div>
    		{% endif %}

    		{% if paginator.next_page %}
    		    <div class="next"><a href="/page{{ paginator.next_page }}/">Older &rarr;</a></div>
    		{% endif %}
    {% endif %}
</div>
	
