---
layout: default
title: Alexander's Ulizko blog
---
{% for post in paginator.posts %}
	<div class="post" id="post-{{ post.id }}">
		<h2><a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h2>
		<span class="date">{{ post.date | date: "%Y / %m / %d" }}</span>
		<div class="entry">
			{{ post.content }}
		</div>
	</div><!-- close:post -->
{% endfor %}
<div class="pagination clearfix">
    {% if paginator.total_pages > 1 %}
    		{% if paginator.previous_page %}
    		    <div class="prev"><a href="/{%if paginator.previous_page > 1 %}page{{ paginator.previous_page }}/{% endif %}">&larr; Newer</a></div>
    		{% endif %}

    		{% if paginator.next_page %}
    		    <div class="next"><a href="/page{{ paginator.next_page }}/">Older &rarr;</a></div>
    		{% endif %}
    {% endif %}
</div>
	
