<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.010/css/hack-extended.min.css" />
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" />
</head>
<body>
<header>
   	<a href="/" class="logo"><span class="impact">A.U</span>lizko</a>
	<div class="menu">
		<a href="/about.html" class="menu-link">About</a> | <a href="/contacts.html" class="menu-link">Contacts</a>
	</div>
</header>
<main id="content">
