<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" />
  <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif:400,400i,700,700i&subset=cyrillic" rel="stylesheet">
</head>
<body>
<header id="header">
   	<a href="/" class="logo"><span class="impact">A.U</span>lizko</a>
	<div class="menu">
		<a href="/about.html" class="menu-link">About</a> | <a href="/contacts.html" class="menu-link">Contacts</a>
	</div>
</header>
<main>
