<div id="sidebar" class="clearfix">
    <div id="sb-1">
        <a href="/about.html">About</a>
        <ul id="rss">
            <li><a href="http://feeds.feedburner.com/ulizko-com">RSS Feed of the articles</a></li>
        </ul>
    </div>
	<div id="sb-2">
		<a href="mailto:alexander@ulizko.com" class="email">alexander@ulizko.com</a>
		<br />
		<a href="http://twitter.com/aulizko" class="twitter">@aulizko</a>
		<br />
		<a href="http://http://www.facebook.com/profile.php?id=1002139259" class="facebook">Alexander Ulizko</a>
		<br />
		<a href="http://github.com/aulizko">github</a>
		<br />
		<a href="https://code.google.com/u/aulizko/">Google Code</a>
	</div><!-- close:sb-2 -->
</div><!-- close:sidebar -->