/* header stuff */
#header {
	display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

a.logo {
	font-size: 1.8rem;
	color: #333;
	display: block;
	text-decoration: none;
	margin: .5rem 0 0 0;
  background: none;

	&:hover {
		text-decoration: underline;
		color: #333;
    box-shadow: none;
	}
}

.impact {
	display: inline-block;
	padding: .2rem;
	background-color: #000;
	color: white;
}

.logo:hover .impact {
	text-decoration: underline;
}

.menu {
	margin: 1rem 0 0 0;
	color: #aeaeae;
}

a.menu-link {
	color: #aeaeae;
	font-size: 1.4rem;
	text-decoration: none;
  background: none;

	&:hover {
		text-decoration: underline;
		color: #aeaeae;
    box-shadow: none;
	}
}

/* Code blocks stuff */

code, tt {
    padding: 1px 3px;
    white-space: pre-wrap;
    border: #E3EDF3 1px solid;
    background: #F7FAFB;
    border-radius: 2px;
}

pre {
    box-sizing: border-box;
    margin: 0 0 1.75em 0;
    border: #E3EDF3 1px solid;
    width: 100%;
    padding: 10px;
    white-space: pre-wrap;
    overflow: auto;
    background: #F7FAFB;
}

pre code, tt {
    font-size: 1.25rem;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0;
}

@import './syntax.css';

/* posts list stuff */
.pagination {
	display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
	margin-top: 2rem;
}

/* contacts page */
.avatar {
	max-width:100% !important;
  height:auto;
  display:block;
}
